.header {
    position: relative;
    .bg{
        width: 100%;
        height: 50vh;
        
    }
    .profile-data{
        margin-top: -40vh;
        color: #ffffff;
        font-weight: bold
    }
  

}